.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e7e3e300;
    border-bottom: whitesmoke 3px solid;
    margin-bottom: 2%;
    color: blueviolet;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-logo span{
    color: rgb(255, 255, 255);
}